@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    body {
        @apply bg-base3;
    }
    a {
        @apply text-blue;
    }
    p {
        @apply mb-2;
    }
    div.wrong-answer {
        @apply bg-red;
    }
    div.assignment {
        @apply text-base00;
        @apply bg-base3;
        @apply max-w-4xl;
    }
    div.assignment-section {
        @apply rounded-xl;
        @apply border-base00;
        @apply border;
        @apply p-[10px];
        @apply m-[2em];
    }
    form {
        @apply bg-base3;
        @apply rounded-xl;
        @apply border;
        @apply p-2;
        @apply mt-2;
    }
    input {
        @apply p-[0.2rem];
        @apply rounded-xl;
        @apply bg-base2;
    }

    .tooltip {
        @apply invisible absolute;
        @apply bg-base3;
        @apply p-2;
        @apply border;
        @apply rounded-md;
    }

    .has-tooltip {
        text-decoration: underline;
        text-decoration-style: dashed;
    }

    .has-tooltip:hover .tooltip {
        @apply visible z-50
    }

    div.flight-console {
        @apply rounded-3xl;
        @apply font-mono;
        padding: 1em 2ch;
        line-height: 1.2em;
        height: 14em;
        width: 44ch;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    div.flight-console line {
        white-space: pre;
        display: block;
    }

    .animation-blink {
        animation: blink-animation 2s steps(5, start) infinite;
        -webkit-animation: blink-animation 2s steps(5, start) infinite;
    }
    @keyframes blink-animation {
        to {
            visibility: hidden;
        }
    }
    @-webkit-keyframes blink-animation {
        to {
            visibility: hidden;
        }
    }

    div.quote {
        @apply ml-3;
        @apply bg-base2;
        @apply p-2;
        @apply rounded-md;
    }

    span.inline-code {
        @apply font-mono;
        @apply bg-base03;
        @apply text-base3;
        @apply rounded-md;
        @apply px-1;
        white-space: pre-wrap;
    }
}
